<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  {{#if keywords}}
  <meta name="keywords" content="{{keywords}}">
  {{else}}
  <meta name="keywords" content="HTML5 Theme Nodejs Handlerbars Express Template">
  {{/if}}
  {{#if description}}
  <meta name="description" content="{{description}}">
  {{else}}
  <meta name="description" content="description">
  {{/if}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <title>{{title}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">

  {{!--Vendor Styles (style here)--}}
  {{#block "style"}}{{/block}}

</head>

<body>

  {{{body}}}

  <!-- vendor -->
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>

  {{!--manifest vendor common moduleNameChunk Styles (script here)--}}
  {{#block "script"}}{{/block}}
</body>

</html>